<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <!--Title-->
    <mat-form-field>
      <mat-select name="title" [(value)]="selected" placeholder ="Title">
        <mat-option value="Mr">Mr</mat-option>
        <mat-option value="Ms">Ms</mat-option>
        <mat-option value="Mrs">Mrs</mat-option>
      </mat-select>
    </mat-form-field>

    <!--Name-->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" ngModel required minlength="3" #title="ngModel">
      <mat-error *ngIf="title.invalid">Field Required.</mat-error>
    </mat-form-field>

     <!--Password-->
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" rows ="4" name="password" ngModel required minlength="6" #title="ngModel">
    </mat-form-field>

     <!--Phone-->
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" name="number" ngModel required minlength="8" maxlength="18" #title="ngModel">
    </mat-form-field>

    <!--Email-->
    <mat-form-field>
        <mat-label>Email</mat-label>
      <input matInput type="text" name="email" required>
    </mat-form-field>


    <button mat-raised-button color="accent" type="submit">Join!</button>
    Already a member?
    <button mat-button [routerLink]="['/login']">Login</button>

  </form>
</mat-card>




<!--Age-->


