<mat-card>
    <form (submit)="onEditPost(postForm)" #postForm="ngForm">
  
      <mat-form-field>
        <textarea
          matInput
          name="title"
          ngModel={{post.title}}
          required
          #content="ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid">Invalid.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          name="name"
          ngModel={{post.name}}
          required
          #content="ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid">Invalid.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          name="password"
          ngModel={{post.password}}
          required
          #content="ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid">Invalid.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          name="email"
          ngModel={{post.email}}
          required
          #content="ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid">Invalid.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          name="number"
          ngModel={{post.number}}
          required
          #content="ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid">Invalid.</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        type="submit">Update</button>
    </form>
  </mat-card>
  
  
  <!--Age-->
  
  
  